/.settings
*.md
*.TODO
*.mo
*.swp
.idea
lang/.DS_Store
.DS_Store
node_modules
img/Thumbs.db
*.mo
*.swp
*.TODO
.DS_Store
node_modules
dist
.env
.env.local
.env.production.local
# IDE
.idea
.vscode
/settings
Thumbs.db